
{% extends 'blog/base.html' %}

{% block body_block %}


<div>
    <div>
  <b>  Сортировка по дате: </b>
    <a href="{{ request.path }}?ordering=-created_at">Сначала новые</a>
    <a href="{{ request.path }}?ordering=created_at">Сначала старые</a>
    </div>
<b>Категории:</b>
    <ul style="display:inline;">
    {% for category in categories %}
       <li><a href="{% url 'category' category.id %}"> {{ category }} </a></li>
    {% endfor %}
    </ul>

<b>Тэги:</b>
    <ul style="display:inline;">
    {% for tag in tags %}
    <li><a href="{% url 'tag' tag.id %}">  {{ tag }} </a> </li>
    {% endfor %}
    </ul>
</div>


<div>
    <ul>
        {% for post in object_list %}
        
        <li> <h3><a href={% url 'post_detail' post.id %}>{{ post.title }} </a> </h3>
            <b>Категория:</b> {{ post.category }} 
            <b>Tэги </b>: {% for tag in post.tags.all %} {{ tag.name }} {% empty %} No tags! {% endfor %}
            <div>
             {{ post.content|truncatechars_html:200|safe }}
            </div>
             <hr/>
             <div>Дата: {{ post.created_at|date }} Автор: {{ post.author.username }} </div>
        </li>
    {% empty %}
        <li>Нет постов.</li>
    {% endfor %}
    </ul>
</div>



<div>
    <form action="{% url 'feedback' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Отправить отзыв">
    </form>
</div>

{{ test }}

{% endblock %}